<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        /*#tb1{*/
        /*    size: 400px;*/
        /*}*/
    </style>
</head>

<body>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row"><p style="font-size: 40px">渠道管理页面:</p></div>
            <div class="row">
                <div class="col-md-3">
                <div class="form-group">
<!--                    <label for="exampleInputName2"></label>-->
                    <input type="text" class="form-control" id="sousuo" placeholder="名称">
                </div>
                </div>
                <div class="col-md-4"><button id="btnsousuo" class="btn btn-info">搜索</button></div>
                <div class="col-md-offset-11"> <button class="btn btn-warning" id="btn1">新增</button></div>
            </div>
            <div class="row" >
                <table id="tb1" class="table table-bordered">
                    <thead>
                    <tr>
<!--                        <input type="checkbox"/>-->
                        <th><input type="checkbox">#</th>
                        <th>序号</th>
                        <th>名称</th>
                        <th>使用数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success" th:each="a:${all}">
                        <td ><input type="checkbox" id="in1" th:value="${a.id}"/></td>
                        <td th:text="${a.id}"></td>
                        <td th:text="${a.name}"></td>
                        <td th:text="${a.useCount}"></td>
                        <td th:switch="${a.isDeleted}">
                            <span th:case="'0'">
                                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">编辑</button>
                            </span>
                            <span th:case="'1'">
                               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">编辑</button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">编辑页面</h4>
                                      </div>
                                      <div class="modal-body">
                                        <form>
                                          <div class="form-group">
                                            <label for="recipient-name" class="control-label">名称</label>
                                              <input type="hidden" th:value="${a.id}">
                                              <input type="text" class="form-control" th:text="${a.name}" id="recipient-name">
                                          </div>
<!--                                          <div class="form-group">-->
<!--                                            <label for="message-text" class="control-label">Message:</label>-->
<!--                                            <textarea class="form-control" id="message-text"></textarea>-->
<!--                                          </div>-->
                                              <div class="modal-footer">
                                               <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                 <button type="submit" class="btn btn-primary">提交</button>
                                              </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <a th:href="@{deletea(id=${a.id})}" onclick="if(confirm('确定删除?')==false)return false;"><button  id="btns" class="btn btn-default">删除</button></a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
<!--            <div class="row">-->
<!--                <nav aria-label="Page navigation">-->
<!--                    <ul class="pagination">-->
<!--                        <li>-->
<!--                            <a href="#" aria-label="Previous">-->
<!--                                <span aria-hidden="true">&laquo;</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li><a href="#">1</a></li>-->
<!--                        <li><a href="#">2</a></li>-->
<!--                        <li><a href="#">3</a></li>-->
<!--                        <li><a href="#">4</a></li>-->
<!--                        <li><a href="#">5</a></li>-->
<!--                        <li>-->
<!--                            <a href="#" aria-label="Next">-->
<!--                                <span aria-hidden="true">&raquo;</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
        </div>
    </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/docs.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function(){
                // jquery对象的回调方法中的this关键字为DOM对象
                // $(DOM) ==> JQuery
                if ( $(this).find("ul") ) { // 3 li
                    $(this).toggleClass("tree-closed");
                    if ( $(this).hasClass("tree-closed") ) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            });

        });
        function  getD1(){
            var date=new Date();
            var d1=date.toLocaleString();
            var div1=document.getElementById("times");
            // alert(div1.val)
            div1.innerHTML =d1;

        }
        setInterval("getD1();",1000);
        $(function () {
            $("#btn1").click(function () {
                location.href="addChannel";
            });
        });
        //    以上是当前时间
        $(function () {
           $("#sousuo").keyup(function () {
              var key=$("#sousuo").val();
               if(key!=null){
                   $("tbody").empty();
                   $.post("searcha",{"key":key},function (data) {
                       if(key!=null){
                           // alert(data.length);
                          for(var i=0;i<data.length;i++){
                              var tr=$("<tr>");
                              for (var j=0;j<5;j++){
                                  var td=$("<td>");
                                switch (j) {
                                    case 0:
                                        var input=$("<input type='checkbox' class='chs'>");
                                        input.attr("value",data[i].id);
                                        td.append(input)
                                        break;
                                    case 1:
                                        td.text(data[i].id);
                                        break;
                                    case 2:
                                        td.text(data[i].name);
                                        break;
                                    case 3:
                                        td.text(data[i].useCount);
                                        break;
                                    case 4:
                                        if(data[i].isDeleted==0){
                                            var bianji=$("<button type=\"button\" class=\"btn btn-primary\">编辑</button>");
                                            var deletea=$("<button type=\"button\" class=\"btn btn-default\">删除</button>");
                                            td.append(bianji);
                                            td.append(deletea);
                                        }else {
                                            var bianji=$("<button type=\"button\" class=\"btn btn-primary\">编辑</button>");
                                            td.append(bianji);
                                        }
                                        bianji.click(function () {
                                            window.location.href="updatea?id="+data[i].id;
                                        });
                                        break;
                                }
                                tr.append(td);
                              }
                              $("tbody").append(tr);
                          }
                       }else {
                           window.location.reload();
                       }
                   });
               }else {
                   location.reload();
               }
           });
        });
    </script>
</body>
</html>
