<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        /*#tb1{*/
        /*    size: 400px;*/
        /*}*/
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row"><p style="font-size: 40px">活动主页面:</p></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <!--                    <label for="exampleInputName2"></label>-->
                        <input type="text" class="form-control"  id="sousuo" placeholder="标题">
                    </div>
                </div>
                <div class="col-md-4"><button id="btnsousuo" class="btn btn-info">搜索</button></div>
                <div class="col-md-offset-11"> <button class="btn btn-warning" id="btn1">新增</button></div>
            </div>
            <div class="row" >
                <table id="tb1" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>活动创建者</th>
                        <th> <select id="select1" class="selectpicker show-tick form-control" data-live-search="true">
                            <option id="selected1" value="leixing">活动类型</option>
                            <option value="online">线上活动</option>
                            <option value="downline">线下活动</option>
                            <option value="liveonline">直播活动</option>
                        </select>
                        </th>
                        <th>时间</th>
                        <th>链接</th>
                        <th>
                            <select id="select2" class="selectpicker show-tick form-control" data-live-search="true">
                                <option value="status">状态</option>
                                <option value="weifb">未发布</option>
                                <option value="weistart">未开始</option>
                                <option value="ing">进行中</option>
                                <option value="over">以结束</option>
                            </select>
                        </th>
                        <th>点赞量</th>
                        <th>访问量</th>
                        <th>收藏类</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success" th:each="a:${all}">
<!--                        <td ><input type="checkbox" id="in1" th:value="${a.id}"/></td>-->
                        <td th:text="${a.id}"></td>
                        <td th:text="${a.title}"></td>
                        <td th:text="${a.adminUser.getName()}"></td>
<!--                       活动的类型判断-->
                        <td th:text="${a.getActivityCategory().getName()}"></td>
                        <!--                       活动的类型判断-->
                        <td th:text="${#dates.format(a.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${a.url}"></td>
<!--                       状态 添加thymeleaf-->
                        <td th:switch="${a.state}">
                            <span th:case="'0'">
                                <font>未发布</font>
                            </span>
                            <span th:case="'1'">
                                <font>未开始</font>
                            </span>
                            <span th:case="'2'">
                                <font>已结束</font>
                            </span>
                        </td>
                        <!--                       状态 添加thymeleaf-->
                        <td th:text="${a.likeCount}"></td>
                        <td th:text="${a.viewCount}"></td>
                        <td th:text="${a.shareCount}"></td>
                        <td th:switch="${a.state}">
                            <span th:case="'0'">
                                 <a th:href="@{fabu(id=${a.id})} " onclick="if(confirm('确定上传?')==false)return false;"><button type="button" id="btnfabu" class="btn btn-primary">发布</button></a>
                                 <button type="button" class="btn btn-info"  >编辑</button>
                                 <button onclick="if(confirm('确定取消?')==false)return false;" type="button" class="btn btn-warning">删除</button>
                            </span>
                            <span th:case="'1'">
                               <button type="button" id="quxiaobtn" class="btn btn-default">取消发布</button>
<!--                                <a th:href="@{deletea(id=${a.id})}" onclick="if(confirm('确定删除?')==false)return false;"><button  id="btns" class="btn btn-default">删除</button></a>-->
                            </span>
                            <span th:case="'2'">
<!--                                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">编辑</button>-->
                            </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr >
                        <td colspan="12" align="center">
                            <ul class="pagination">
                                <li class="disabled"><a th:href="@{loadAllUser(page=)}">上一页</a></li>
                                <li class="active"><a th:href="@{loadAllUser(page=1)}">1 <span class="sr-only">(current)</span></a></li>
                                <li><a th:href="@{loadAllUser(page=2)}">2</a></li>
                                <li><a th:href="@{loadAllUser(page=3)}">3</a></li>
                                <li><a th:href="@{loadAllUser(page=4)}">4</a></li>
                                <li><a th:href="@{loadAllUser(page=5)}">5</a></li>
                                <li><a th:href="@{loadAllUser(page=1)}">下一页</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/docs.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function(){
                // jquery对象的回调方法中的this关键字为DOM对象
                // $(DOM) ==> JQuery
                if ( $(this).find("ul") ) { // 3 li
                    $(this).toggleClass("tree-closed");
                    if ( $(this).hasClass("tree-closed") ) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            });

        });
        function  getD1(){
            var date=new Date();
            var d1=date.toLocaleString();
            var div1=document.getElementById("times");
            // alert(div1.val)
            div1.innerHTML =d1;

        }
        setInterval("getD1();",1000);
        $(function () {
            $("#btn1").click(function () {
                location.href="addChannel";
            });
        });
        //    以上是当前时间
        // $(function () {
        //     $("#sousuo").keyup(function () {
        //         var key=$("#sousuo").val();
        //
        //         if(key!=null){
        //             $("tbody").empty();
        //             $.post("searcha",{"key":key},function (data) {
        //                 if(data!=null){
        //                     // alert(data.length);
        //                     for(var i=0;i<data.length;i++){
        //                         var tr=$("<tr>");
        //                         for (var j=0;j<5;j++){
        //                             var td=$("<td>");
        //                             switch (j) {
        //                                 case 0:
        //                                     var input=$("<input type='checkbox' class='chs'>");
        //                                     input.attr("value",data[i].id);
        //                                     td.append(input)
        //                                     break;
        //                                 case 1:
        //                                     td.text(data[i].id);
        //                                     break;
        //                                 case 2:
        //                                     td.text(data[i].name);
        //                                     break;
        //                                 case 3:
        //                                     td.text(data[i].useCount);
        //                                     break;
        //                                 case 4:
        //                                     if(data[i].isDeleted==0){
        //                                         var bianji=$("<button type=\"button\" class=\"btn btn-primary\">编辑</button>");
        //                                         var deletea=$("<button type=\"button\" class=\"btn btn-default\">删除</button>");
        //                                         td.append(bianji);
        //                                         td.append(deletea);
        //                                     }else {
        //                                         var bianji=$("<button type=\"button\" class=\"btn btn-primary\">编辑</button>");
        //                                         td.append(bianji);
        //                                     }
        //                                     bianji.click(function () {
        //                                         window.location.href="updatea?id="+data[i].id;
        //                                     });
        //                                     break;
        //                             }
        //                             tr.append(td);
        //                         }
        //                         $("tbody").append(tr);
        //                     }
        //                 }
        //             });
        //         }else {
        //             location.reload();
        //         }
        //     });
        //
        // });
        $(function () {
           $("#select1").bind("change",function () {
                var type=$(this).val();
               $("tbody").empty();
                if(type=="online"){
                    var leixing=1;
                }else if(type=="leixing"){
                    var leixing=0;
                    window.location.reload();
                }else if(type=="downline"){
                    var leixing=2;
                }else if(type=="liveonline"){
                    var leixing=3;
                }
               $.post("online",{"cid":leixing},function (data) {
                   if(data!=null){
                       for(var i=0;i<data.length;i++){
                           var tr=$("<tr class=\"success\">");
                           for (var j=0;j<11;j++){
                               var td=$("<td>");
                               switch (j) {
                                   case 0:
                                    //  alert(data[i].id)
                                       td.text(data[i].id);
                                       break;
                                   case 1:
                                       td.text(data[i].title);
                                      // alert(data[i].title);
                                       break;
                                   case 2:
                                       td.text(data[i].adminUser.name);
                                      // alert(td);
                                       break;
                                   case 3:
                                       td.text(data[i].activityCategory.name);
                                       break;
                                   case 4:
                                       td.text(data[i].createTime);
                                       break;
                                   case 5:
                                       td.text(data[i].url);
                                       break;
                                   case 6:
                                       if(data[i].state==0){
                                           td.text("未发布")
                                       }else if(data[i].state==1){
                                           td.text("未开始")
                                       }else {
                                           td.text("已结束");
                                       }
                                     //  td.text(data[i].state);
                                       break;
                                   case 7:
                                       td.text(data[i].likeCount);
                                       break;
                                   case 8:
                                       td.text(data[i].shareCount);
                                       break;
                                   case 9:
                                       td.text(data[i].viewCount);
                                       break;
                                   case 10:
                                       if(data[i].state==0){
                                           var fabu=$("<button type=\"button\" class=\"btn btn-warning\">发布</button>");
                                           var bianji=$("<button type=\"button\" class=\"btn btn-private\">编辑</button>");
                                           var deletea=$("<button type=\"button\" class=\"btn btn-default\">删除</button>");
                                           td.append(fabu);
                                           td.append(bianji);
                                           td.append(deletea);
                                         //  break;
                                       }else if(data[i].state==1){
                                           var quxiao=$("<button type=\"button\" class=\"btn btn-default\">取消发布</button>");
                                           td.append(quxiao);
                                        //   break;
                                       }else if (data[i].state==2) {
                                          // break;
                                       }
                                       break;
                               }
                               tr.append(td);
                             //  alert("添加成功");

                           }
                           $("tbody").append(tr);
                       }
                   }
               });
            });
        });
        $(function () {
            $("#select2").bind("change",function () {
                var type=$(this).val();
                $("tbody").empty();
                if(type=="weifb"){
                    var leixing=0;
                }else if(type=="status"){
                    var leixing=3;
                    window.location.reload();
                }else if(type=="ing"){
                    var leixing=1;
                }else if(type=="over"){
                    var leixing=2;
                }else if(type=="weistart"){
                    var leixing=1;
                }
                $.post("status",{"sid":leixing},function (data) {
                    if(data!=null){
                        for(var i=0;i<data.length;i++){
                            var tr=$("<tr class=\"success\">");
                            for (var j=0;j<11;j++){
                                var td=$("<td>");
                                switch (j) {
                                    case 0:
                                        //  alert(data[i].id)
                                        td.text(data[i].id);
                                        break;
                                    case 1:
                                        td.text(data[i].title);
                                        // alert(data[i].title);
                                        break;
                                    case 2:
                                        td.text(data[i].adminUser.name);
                                        // alert(td);
                                        break;
                                    case 3:
                                        td.text(data[i].activityCategory.name);
                                        break;
                                    case 4:
                                        td.text(data[i].createTime);
                                        break;
                                    case 5:
                                        td.text(data[i].url);
                                        break;
                                    case 6:
                                        if(data[i].state==0){
                                            td.text("未发布")
                                        }else if(data[i].state==1){
                                            td.text("未开始")
                                        }else {
                                            td.text("已结束");
                                        }
                                        //  td.text(data[i].state);
                                        break;
                                    case 7:
                                        td.text(data[i].likeCount);
                                        break;
                                    case 8:
                                        td.text(data[i].shareCount);
                                        break;
                                    case 9:
                                        td.text(data[i].viewCount);
                                        break;
                                    case 10:
                                        if(data[i].state==0){
                                            var fabu=$("<button type=\"button\" class=\"btn btn-warning\">发布</button>");
                                            var bianji=$("<button type=\"button\" class=\"btn btn-private\">编辑</button>");
                                            var deletea=$("<button type=\"button\" class=\"btn btn-default\">删除</button>");
                                            td.append(fabu);
                                            td.append(bianji);
                                            td.append(deletea);
                                            //  break;
                                        }else if(data[i].state==1){
                                            var quxiao=$("<button type=\"button\" class=\"btn btn-default\">取消发布</button>");
                                            td.append(quxiao);
                                            //   break;
                                        }else if (data[i].state==2) {
                                            // break;
                                        }
                                        break;
                                }
                                tr.append(td);
                                //  alert("添加成功");
                            }
                            $("tbody").append(tr);
                        }
                    }
                });
            });
        });
        $(function () {
            $("#sousuo").keyup(function () {
                var title=$("#sousuo").val();
                if(title!=null){
                    $("tbody").empty();
                    $.post("acsearch",{"title":title},function (data) {
                        if(title!=null){
                           // alert(data.length);
                            for(var i=0;i<data.length;i++){
                                var tr=$("<tr class=\"success\">");
                                for (var j=0;j<11;j++){
                                    var td=$("<td>");
                                    switch (j) {
                                        case 0:
                                            //  alert(data[i].id)
                                            td.text(data[i].id);
                                            break;
                                        case 1:
                                            td.text(data[i].title);
                                            // alert(data[i].title);
                                            break;
                                        case 2:
                                            td.text(data[i].adminUser.name);
                                            // alert(td);
                                            break;
                                        case 3:
                                            td.text(data[i].activityCategory.name);
                                            break;
                                        case 4:
                                            td.text(data[i].createTime);
                                            break;
                                        case 5:
                                            td.text(data[i].url);
                                            break;
                                        case 6:
                                            if(data[i].state==0){
                                                td.text("未发布")
                                            }else if(data[i].state==1){
                                                td.text("未开始")
                                            }else {
                                                td.text("已结束");
                                            }
                                            //  td.text(data[i].state);
                                            break;
                                        case 7:
                                            td.text(data[i].likeCount);
                                            break;
                                        case 8:
                                            td.text(data[i].shareCount);
                                            break;
                                        case 9:
                                            td.text(data[i].viewCount);
                                            break;
                                        case 10:
                                            if(data[i].state==0){
                                                var fabu=$("<button type=\"button\" class=\"btn btn-warning\">发布</button>");
                                                var bianji=$("<button type=\"button\" class=\"btn btn-private\">编辑</button>");
                                                var deletea=$("<button type=\"button\" class=\"btn btn-default\">删除</button>");
                                                td.append(fabu);
                                                td.append(bianji);
                                                td.append(deletea);
                                                //  break;
                                            }else if(data[i].state==1){
                                                var quxiao=$("<button type=\"button\" class=\"btn btn-default\">取消发布</button>");
                                                td.append(quxiao);
                                                //   break;
                                            }else if (data[i].state==2) {
                                                // break;
                                            }
                                            break;
                                    }
                                    tr.append(td);
                                    //  alert("添加成功");
                                }
                                $("tbody").append(tr);
                            }
                        }else {
                            window.location.reload();
                        }
                    });
                }else{
                   window.location.reload();
                }
            })
        });
    </script>
</body>
</html>
