<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        /*#tb1{*/
        /*    size: 400px;*/
        /*}*/
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row"><p style="font-size: 40px">渠道添加页面:</p></div>
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        &lt;!&ndash;                    <label for="exampleInputName2"></label>&ndash;&gt;-->
<!--                        <input type="text" class="form-control" id="exampleInputName2" placeholder="名称">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4"><button class="btn btn-info">搜索</button></div>-->
<!--                <div class="col-md-offset-11"> <button class="btn btn-warning" id="btn1">新增</button></div>-->
<!--            </div>-->
            <div class="row" >
                <div class="panel panel-default">
                    <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                    <div class="panel-body">
                        <form role="form" method="post" action="addC">
                            <div class="form-group">
                                <label for="name">名称</label>
                                <input type="text" class="form-control" name="name" id="in1" placeholder="请输入登陆账号">
                            </div>
                            <div class="form-group">
                                <label for="userCount">使用的次数</label>
                                <input type="text" class="form-control" name="useCount" id="in2" placeholder="请输入用户名称">
                            </div>
                            <div class="form-group">
                                <label for="sign">渠道签名</label>
                                <input type="text" class="form-control" name="sign" id="in3" placeholder="请输入用户名称">
                            </div>
                            <button type="submit" onclick="return window.confirm('确认修改');" id="btn2" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 新增</button>
                            <button type="button" id="btn1" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                            <button type="button" id="btn3" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 返回</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/docs.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function(){
                // jquery对象的回调方法中的this关键字为DOM对象
                // $(DOM) ==> JQuery
                if ( $(this).find("ul") ) { // 3 li
                    $(this).toggleClass("tree-closed");
                    if ( $(this).hasClass("tree-closed") ) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            });

        });
        function  getD1(){
            var date=new Date();
            var d1=date.toLocaleString();
            var div1=document.getElementById("times");
            // alert(div1.val)
            div1.innerHTML =d1;

        }
        setInterval("getD1();",1000);
        $(function () {
            $("#btn1").click(function () {
                location.href="addChannel";
            });
        });
        //    以上是当前时间
        $(function () {
            $("#btn3").click(function () {
                history.back(-1);
            });
            $("#btn1").click(function () {
                $("#in1").val("");
                $("#in2").val("");
                $("#in3").val("");
            });
            $("#btn2").click(function () {
                var in1=$("#in1").val();
                var in2=$("#in2").val();
                var in3=$("#in3").val();
                if(in1==""||in2==""||in3==""){
                    alert("填写内容不能为空")
                    $("#btn2").prop("disabled",true);
                    window.location.reload();
                }else {
                    $("#btn2").prop("disabled",false);
                }
            });

        });
    </script>
</body>
</html>
