<!DOCTYPE html>
<html lang="utf-8" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        .tree-closed {
            height: 40px;
        }

        .tree-expanded {
            height: auto;
        }
    </style>
</head>

<body>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">新增自有商品</h1>
            <form role="form">
                <div class="form-group">
                    <label for="input1">自有商品标题</label>
                    <input type="text" class="form-control" id="input1" placeholder="请输入登陆账号">
                </div>
                <div class="form-group">
                    <label for="input2">车型说明</label>
                    <input type="text" class="form-control" id="input2" placeholder="请输入用户名称">
                </div>
                <div class="form-group">
                    <label for="input3">售后服务</label>
                    <input type="text" class="form-control" id="input3" placeholder="请输入用户名称"
                           style="width: 350px;height: 400px">
                </div>
                <!--				<div class="form-group">-->
                <!--					<label for="glcx">关联车型</label>-->
                <!--					<input type="text" class="form-control" id="glcx" placeholder="请输入用户名称">-->
                <!--				</div>-->
                <button type="button" class="btn btn-success" id="submit"><i class="glyphicon glyphicon-plus"></i> 上传
                </button>
                <button type="button" class="btn btn-danger" onclick="submit1()"><i
                        class="glyphicon glyphicon-log-out"></i> 退出
                </button>
            </form>

        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            // jquery对象的回调方法中的this关键字为DOM对象
            // $(DOM) ==> JQuery
            if ($(this).find("ul")) { // 3 li
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
    $("#submit").click(function () {
        var name = $("#input1").val();
        var description = $("#input2").val();
        var service = $("#input3").val();
        if (name == "" || description == "" || service == "") {
            alert("内容不能为空")
        } else {
            $.post("http://localhost:8080/ap", {
                "name": name,
                "description": description,
                "service": service
            })
            alert("ok");
        }
    });

    function submit1() {
        location.href = 'zyspgl'
    }
</script>
</body>
</html>