<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/doc.min.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="main">首页</a></li>
                <li><a href="findCarBrand">品牌列表</a></li>
                <li class="active">添加品牌</li>
            </ol>
            <div class="panel panel-default" >
                <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                <div class="panel-body">
                    <form role="form" >
                      <div class="form-group">
                            <label for="brandName">品牌名称</label>
                            <input id="brandName" name="brandName"  type="text" class="form-control" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <label for="brandLogo">logo</label><br/>
                            <img width=100 height=100 src="img/car_logo3.jpg" name="x1" id="x1">
                            <SELECT onChange="document.x1.src=options[selectedIndex].value;document.getElementById('brandName').value=this.options[this.selectedIndex].id;" id="brandLogo" name="brandLogo" style="width:220px;height: 35px;"  class="form-control">
                                <option selected="selected" value="0">--请选择品牌-- </option>
                            </SELECT>
                        </div>
                        <a id="commit"  class="btn btn-success" onclick="check()"><i class="glyphicon glyphicon-edit"  ></i> 添加</a>
                        <button type="reset" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题1</h4>
                    <p>测试内容1，测试内容1，测试内容1，测试内容1，测试内容1，测试内容1</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题2</h4>
                    <p>测试内容2，测试内容2，测试内容2，测试内容2，测试内容2，测试内容2</p>
                </div>
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript">
    $.post("findBrand",{"type":0},function (data2) {
        $.post("findBrandLogo",{"type":0},function (data1) {
            for (var i = 0; i < data2.length||i<data1.length; i++) {
                var option = $("<option value='" + data1[i] + "' id='" + data2[i] + "'>" + data2[i] + "</option>");
                $("#brandLogo").append(option);
            }
        })
    })
    function check(){
        var brandName = $("#brandName").val();
        var brandLogo= $("#brandLogo").val();
        $.post("findBrandName1",{"brandName":brandName,"brandLogo":brandLogo},function (data1) {
            $.post("findBrandName",{"brandLogo":brandLogo},function (data2) {
                alert(brandName);
                if(brandName == null || brandName == "") {
                    alert("品牌名称不能为空！");
                    return false;
                }else if(data1==1){
                    alert("此品牌已存在！");
                    return false;
                }else if(data2!=brandName){
                    alert("请选择正确的品牌logo！");
                    return false;
                }
                window.location.href="saveCarBrand?brandName="+brandName+"&brandLogo="+brandLogo;
            })
        })
    }

    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
    $("tbody .btn-success").click(function(){
        window.location.href = "assignRole.html";
    });
    $("tbody .btn-primary").click(function(){
        window.location.href = "edit.html";
    });
</script>
</body>
</html>
