<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/doc.min.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="main">首页</a></li>
                <li><a href="findParam">参数列表</a></li>
                <li class="active">修改</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                <div class="panel-body">
                    <form role="form" >
                        <div class="form-group">
                            <label for="name">参数名称</label>
                            <input id="name"  name="name" type="text"  th:value="${carParam.name}"  class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="id1" th:value="${carParam.id}" type="hidden">
                            <label for="type1">参数分类名称</label>
                            <SELECT  id="type1"  name="type1"   style="width:220px;height: 35px;"  class="form-control" >
                                <option selected="selected" value="0">--请选择参数分类--</option>
                            </SELECT>
                        </div>
                        <div class="form-group">
                            <label for="state">状态</label>
                            <SELECT  id="state" name="state" th:value="${carParam.state}"  style="width:220px;height: 35px;"  class="form-control">
                                <option selected="selected" value="0">--请选择状态--</option>
                                <option>生效</option>
                                <option>未生效</option>
                            </SELECT>
                        </div>
                        <a id="commit" type="submit" class="btn btn-success" onclick="change()"><i class="glyphicon glyphicon-edit" >修改</i> </a>
                        <button type="reset" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题1</h4>
                    <p>测试内容1，测试内容1，测试内容1，测试内容1，测试内容1，测试内容1</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题2</h4>
                    <p>测试内容2，测试内容2，测试内容2，测试内容2，测试内容2，测试内容2</p>
                </div>
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript">
        $.post("findType0000",{"type":0},function (data) {
            for(var i=0;i<data.length;i++){
                var option=$("<option >" + data[i] + "</option>");
                $("#type1").append(option);
            }
        })
    function change() {
        var id=$("#id1").val();
        var name=$("#name").val();
        var state=$("#state").val();
        var type=$("#type1").val();
        window.location.href="updateCarParam2?name="+name+"&id="+id+"&state="+state+"&type="+type;
    }

    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
    $("tbody .btn-success").click(function(){
        window.location.href = "assignRole.html";
    });
    $("tbody .btn-primary").click(function(){
        window.location.href = "edit.html";
    });
</script>
</body>
</html>
