<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        #d1 {
            margin-top: 20px;
            margin-left: 20px;
        }
        #d2 {
            margin-left: 20px;
        }
        #div1{
            margin-left: 50px;
        }
        .cc1{
            margin-left: 15px;
            margin-top: 20px;
        }
        .c1{
            font-size: 25px;
        }
        .button{
            margin-left: 400px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 控制面板</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> 张三 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="查询">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed" >
                        <a href="index"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 会员 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="addHotel"><i class="glyphicon glyphicon-check"></i> 会员管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 资讯管理 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="addScience"><i class="glyphicon glyphicon-check"></i> 草稿箱</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addScience"><i class="glyphicon glyphicon-check"></i> 咨询审核</a>
                            </li>
                            <li style="height:30px;">
                                <a href="Scienceexamine"><i class="glyphicon glyphicon-check"></i> 咨询发布</a>
                            </li>
                            <li style="height:30px;">
                                <a href="ScienceMaintain"><i class="glyphicon glyphicon-check"></i> 咨询列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="ScienceMaintain"><i class="glyphicon glyphicon-check"></i> 流程图</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 标签定义 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="addHotel"><i class="glyphicon glyphicon-check"></i> 标签定义</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 车型库管理 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="addRoute"><i class="glyphicon glyphicon-check"></i> 品牌管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="Routeexamine"><i class="glyphicon glyphicon-check"></i> 厂商管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="RouteMaintain"><i class="glyphicon glyphicon-check"></i> 车系管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="RouteMaintain"><i class="glyphicon glyphicon-check"></i> 车款管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="RouteMaintain"><i class="glyphicon glyphicon-check"></i> 参数分类管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="RouteMaintain"><i class="glyphicon glyphicon-check"></i> 参数管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 自有商品管理 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="addRoute"><i class="glyphicon glyphicon-check"></i> 自有商品列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addRoute"><i class="glyphicon glyphicon-check"></i> 新增自有商品</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addRoute"><i class="glyphicon glyphicon-check"></i> 自有商品预览</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addRoute"><i class="glyphicon glyphicon-check"></i> 编辑自有商品</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 活动管理 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 活动列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 推荐活动</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 类型管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 渠道管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 消息管理 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 消息列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 新增消息</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 角色管理 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="/shows"><i class="glyphicon glyphicon-check"></i> 角色管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 管理员列表 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 管理员列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 新增管理员</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 编辑管理员</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 操作日志 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 操作日志</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 个人中心 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 个人中心</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 修改密码</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div id="d1">
                    <h3 class="panel-title">&lt;&nbsp;&nbsp; 编辑角色</h3>
                </div>
                <hr style="clear:both;">
                <div id="div1" >
                    <div id="d3">
                        <font class="c1" color="blue">分配权限</font>
                    </div>
                    <div class="cc1" >
                        <div id="djf">
                            <h3>会员管理</h3>
                            <div th:each="h:${huiyuan}" style="float: left;">
                                <div th:if="${h.action == 'false'}">
                                    <input id="u20_input1" type="checkbox" name="checkbox" th:value="${h.id}" />
                                    <font th:text="${h.name}"></font>
                                </div>
                                <div th:if="${h.action == 'true'}">
                                    <input id="u20_input12" type="checkbox" name="checkbox" th:value="${h.id}" checked/>
                                    <font th:text="${h.name}"></font>
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>资讯管理</h3>
                        <div id="djf2">
                            <div th:each="z:${zixun}" style="float: left;">
                                <div th:if="${z.action == 'false'}">
                                    <input id="u20_input2" type="checkbox" name="checkbox" th:value="${z.id}" />
                                    <font th:text="${z.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${z.action == 'true'}">
                                    <input id="u20_input22" type="checkbox" name="checkbox" th:value="${z.id}" checked/>
                                    <font th:text="${z.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>标签定义</h3>
                        <div id="djf3">
                            <div th:each="b:${biaoqian}" style="float: left;">
                                <div th:if="${b.action == 'false'}">
                                    <input id="u20_input3" type="checkbox" name="checkbox" th:value="${b.id}" />
                                    <font th:text="${b.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${b.action == 'true'}">
                                    <input id="u20_input32" type="checkbox" name="checkbox" th:value="${b.id}" checked/>
                                    <font th:text="${b.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>活动管理</h3>
                        <div id="djf4">
                            <div th:each="hd:${huodong}" style="float: left">
                                <div th:if="${hd.action == 'false'}">
                                    <input id="u20_input4" type="checkbox" name="checkbox" th:value="${hd.id}" />
                                    <font th:text="${hd.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${hd.action == 'true'}">
                                    <input id="u20_input42" type="checkbox" name="checkbox" th:value="${hd.id}" checked/>
                                    <font th:text="${hd.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>自有商品管理</h3>
                        <div id="djf5">
                            <div th:each="s:${shangpin}" style="float: left">
                                <div th:if="${s.action == 'false'}">
                                    <input id="u20_input5" type="checkbox" name="checkbox" th:value="${s.id}" />
                                    <font th:text="${s.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${s.action == 'true'}">
                                    <input id="u20_input52" type="checkbox" name="checkbox" th:value="${s.id}" checked/>
                                    <font th:text="${s.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>车库型管理</h3>
                        <div id="djf6">
                            <div th:each="c:${cheku}" style="float: left">
                                <div th:if="${c.action =='false'}">
                                    <input id="u20_input6" type="checkbox" name="checkbox" th:value="${c.id}" />
                                    <font th:text="${c.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${c.action =='true'}">
                                    <input id="u20_input62" type="checkbox" name="checkbox" th:value="${c.id}" checked/>
                                    <font th:text="${c.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>标签管理</h3>
                        <div id="djf7">
                            <div th:each="bq:${biaoqian2}" style="float: left">
                                <div th:if="${bq.action =='false'}">
                                    <input id="u20_input7" type="checkbox" name="checkbox" th:value="${bq.id}" />
                                    <font th:text="${bq.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${bq.action =='true'}">
                                    <input id="u20_input72" type="checkbox" name="checkbox" th:value="${bq.id}" checked/>
                                    <font th:text="${bq.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>消息管理</h3>
                        <div id="djf8">
                            <div th:each="x:${xiaoxi}" style="float: left">
                                <div th:if="${x.action =='false'}">
                                    <input id="u20_input8" type="checkbox" name="checkbox" th:value="${x.id}" />
                                    <font th:text="${x.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${x.action =='true'}">
                                    <input id="u20_input82" type="checkbox" name="checkbox" th:value="${x.id}" checked/>
                                    <font th:text="${x.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>角色管理</h3>
                        <div id="djf9">
                            <div th:each="j:${juese}" style="float: left">
                                <div th:if="${j.action =='false'}">
                                    <input id="u20_input9" type="checkbox" name="checkbox" th:value="${j.id}" />
                                    <font th:text="${j.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${j.action =='true'}">
                                    <input id="u20_input92" type="checkbox" name="checkbox" th:value="${j.id}" checked/>
                                    <font th:text="${j.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>管理员列表</h3>
                        <div id="djf100">
                            <div th:each="g:${guanliyuan}" style="float: left">
                                <div th:if="${g.action =='false'}">
                                    <input id="u20_input10" type="checkbox" name="checkbox" th:value="${g.id}" />
                                    <font th:text="${g.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${g.action =='true'}">
                                    <input id="u20_input102" type="checkbox" name="checkbox" th:value="${g.id}" checked/>
                                    <font th:text="${g.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <h3>操作日志</h3>
                        <div id="djf110">
                            <div th:each="r:${rizhi}" style="float: left">
                                <div th:if="${r.action =='false'}">
                                    <input id="u20_input111" type="checkbox" name="checkbox"  th:value="${r.id}" />
                                    <font th:text="${r.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div th:if="${r.action =='true'}">
                                    <input id="u20_input112" type="checkbox" name="checkbox" th:value="${r.id}" checked/>
                                    <font th:text="${r.name}"></font>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both;">
                        <div>
                            <input id="role" type="hidden" th:value="${roleId}">
                            <button id="btn1" type="button" class="button" >保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btn1").click(function() {
            var checkID=[];
            $("input[name='checkbox']:checked").each(function (i) {
                checkID[i]=$(this).val();
            });
            if (checkID.length == 0){
                alert("请选择权限");
            } else {
                var roleId = $("#role").val();
                $.post("delRole",{"rid":roleId},function(data){
                    if (data == 0){
                        alert("授权失败");
                    } else {
                        var ids="";
                        for (var i = 0; i <checkID.length ; i++) {
                            ids+=i==checkID.length-1?checkID[i]:checkID[i]+"-";
                        }
                        alert(ids);
                        $.post("addMenu",{"roleId":roleId,"ids":ids},function (data) {
                            if (data == true){
                                alert("授权成功");
                            } else {
                                alert("授权失败");
                            }
                        })
                    }
                })
            }
        })
    })
</script>
</body>
</html>
