<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table >
    <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <select multiple="multiple">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <tr >
        <th width="30">#</th>
        <th>标题</th>
        <th>来源</th>
        <th>时间</th>
        <th width="70">点赞量</th>
        <th width="70">访问量</th>
        <th width="70">收藏量</th>
        <th>提交人</th>
        <th>审核人</th>
        <th>发布人</th>
        <th>是否推荐</th>
    </tr>
    <tr th:each="a:${session.artList}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.title}"></td>
        <td th:text="${a.source}"></td>
        <td th:text="${a.submitTime}"></td>
        <td th:text="${a.likeCount}"></td>
        <td th:text="${a.pvCount}"></td>
        <td th:text="${a.favCount}"></td>
        <td th:text="${a.author}"></td>
        <td th:text="${a.lastAuditUsername}"></td>
        <td th:text="${a.publishUname}"></td>
        <td th:if="${a.homeTop==0}" >否</td>
        <td th:if="${a.homeTop==1}" >是</td>
    </tr>
</table>
</body>
</html>