<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        .tree-closed {
            height: 40px;
        }

        .tree-expanded {
            height: auto;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="head">

</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="right">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 个人中心</h3>
                    <ol class="breadcrumb">
                        <li><a href="main">后台首页</a></li>
                        <li><a href="htPersonalCenter">个人中心</a></li>
                    </ol>
                </div>
                <div class="panel-body" id="div-details">
                    <table class="table table-striped">
                        <tr>
                            <th>用户名：</th>
                            <td th:text="${session.user.username}"></td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>密码：</th>
                            <td class="edit" th:text="${session.user.password}"></td>
                            <td><input type="button" value="修改密码"></td>
                        </tr>
                        <tr style="display: none">
                            <th>密码：</th>
                            <td class="edit" th:text="${session.user.password}"></td>
                            <td><input type="button" value="确认修改"></td>
                        </tr>
                        <tr>
                            <th>所属角色：</th>
                            <td>
                                <div th:if="${session.user.isSuper}==1">
                                    <p style="color: red">超级管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==2">
                                    <p style="color: red">管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==3">
                                    <p style="color: red">资讯管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==4">
                                    <p style="color: red">会员管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==5">
                                    <p style="color: red">标签管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==6">
                                    <p style="color: red">活动管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==7">
                                    <p style="color: red">自有商品管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==8">
                                    <p style="color: red">车型库管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==9">
                                    <p style="color: red">消息管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==10">
                                    <p style="color: red">角色管理员</p>
                                </div>
                                <div th:if="${session.user.isSuper}==10">
                                    <p style="color: red">日志管理员</p>
                                </div>
                            </td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>真实姓名：</th>
                            <td th:text="${session.user.name}"></td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>手机号：</th>
                            <td th:text="${session.user.phone}"></td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>邮箱：</th>
                            <td th:text="${session.user.email}"></td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>创建人</th>
                            <td th:text="${session.user.consumer}"></td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>备注：</th>
                            <td th:text="${session.user.remark}"></td>
                            <td>#</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script src="js/jquery-3.3.1.js"></script>
<script type="text/javascript"  th:inline="javascript">

    $(function () {
        $("input:button").click(function () {
            str = $(this).val()=="修改密码"?"确定修改":"修改密码";
            $(this).val(str);
            $(this).parent().siblings(".edit").each(function () {
                obj_text = $(this).find("input:text");
                if (!obj_text.length){
                    $(this).html("<input id='password' type='text' value='"+$(this).text()+"'/>");
                    var pwds = $("#password").val();
                    $("#password").blur(function () {
                        var rpwd = /^[a-zA-Z0-9]{6,18}$/;
                        var pwd = $("#password").val();
                        if (pwd.length != 0){
                            if (!rpwd.test(pwd)){
                                alert("请输入合适密码");
                                $("#password").val(pwds);
                            }
                        }
                    });
                } else {
                    var id = '<%=session.getAttribute("user.id")%>';
                    var pwd2 = $("#password").val();
                    location.href = "updatePasswordById?id="+id+"&password="+pwd2;
                    $(this).html(obj_text.val());
                }
            })
        })
        var rpwd = /^[a-zA-Z0-9]{6,18}$/;
        $("#password").blur(function () {
            var pwd = $("#password").val();
            if (pwd.length != 0){
                if (!rpwd.test(pwd)){
                    var ff = $("<font color='red'>请输入6-18位密码</font>")
                    $("#sp2").append(ff);
                    $("#password").val("");
                }
            }
        });

        $("#password").focus(function () {
            $("#password").val("");
            $("#sp2").empty();
        });

        var isSuper =  '<%=session.getAttribute("user.isSuper")%>';
        $(document).ready(function() {
            $("#head").load("header");
            $("#right").load("htRight");
        });
        $("#input2").val(isSuper);

        $(".list-group-item").click(function () {
            // jquery对象的回调方法中的this关键字为DOM对象
            // $(DOM) ==> JQuery
            if ($(this).find("ul")) { // 3 li
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });

</script>
</body>
</html>
