<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>log</title>
</head>
<body>

    <div class="panel-heading">
        <h1>日志操作</h1>
        <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 会员管理</h3>
        <ol class="breadcrumb">
            <li><a href="main1">后台首页</a></li>
            <li><a href="findAllMemberPro">所有会员</a></li>
        </ol>
    </div>
    <div>
        <table>
            <tr>
                <th>id</th>
                <th>操作人员id</th>
                <th>操作人员姓名</th>
                <th>上次操作时间</th>
                <th>操作内容</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>