<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
  <style>
    .tree li {
      list-style-type: none;
      cursor:pointer;
    }
    .tree-closed {
      height : 40px;
    }
    .tree-expanded {
      height : auto;
    }
    #class input{
      text-align: center;
      vertical-align: middle;
    }
  </style>
</head>

<body>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 消息列表</h3>
        </div>
        <div class="panel-body">
          <form class="form-inline" role="form" style="float:left;">
            <div class="form-group has-feedback">
              <div class="input-group">
                <div class="input-group-addon">时间&nbsp;&nbsp;&nbsp;</div>
                <div class="row">
                  <div class="col-md-4" >
                    <input class="form-control has-success"  type="date" name="time1" id="id1"   placeholder="起始时间">
                  </div>
                  <div class="col-md-2 col-md-offset-1" style="text-align: center;position: relative;top: 10px;left:-20px;" >
                    <span>---至---</span>
                  </div>
                  <div class="col-md-4" style="position: relative;left: -40px;">
                    <input class="form-control has-success" style="text-align: center" id="id2"  type="date" name="time2" placeholder="结束时间">
                  </div>
                </div>
              </div>
            </div>
            <a type="button" class="btn btn-warning" style="position: relative;left: -40px;" onclick="select()"><i class="glyphicon glyphicon-search"></i> 查询</a>
          </form>
          <button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='addMessageView'"><i class="glyphicon glyphicon-plus"></i> 新增消息</button>
          <br>
          <hr style="clear:both;">
          <div class="table-responsive">
            <table class="table  table-bordered" style="text-align: center">
              <thead>
              <tr>
                <th style="vertical-align: middle !important;text-align: center;" width="60">序号</th>
                <th style="vertical-align: middle !important;text-align: center;">标题</th>
                <th style="vertical-align: middle !important;text-align: center;">发送时间</th>
                <th style="vertical-align: middle !important;text-align: center;">发送人</th>
                <th style="vertical-align: middle !important;text-align: center;" width="180">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="messages:${allMessage}">
                <td id="del" th:text="${messages.id}"></td>
                <td><a th:href="@{viewMessageView(id=${messages.id})}"><span th:text="${messages.title}"/></a></td>
                <td th:text="${messages.sendTime}"></td>
                <td th:text="${messages.type}"></td>

                <td>
                  <a type="button" class="btn btn-success btn-xs" th:onclick="send([[${messages.id}]])"><i class=" glyphicon glyphicon-check">发送</i></a>
                  <a th:href="@{updateMessageView(id=${messages.id})}"><button type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i>编辑</button></a>
                  <a ><button type="button" class="btn btn-danger btn-xs" onclick="del()"><i class=" glyphicon glyphicon-remove"></i>删除</button></a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr >
                <td colspan="6" align="center">
                  <ul class="pagination">
                    <li class="disabled"><a th:href="@{messageListView(page=${currentPage-1})}">上一页</a></li>
                    <li class="active"><a th:href="@{messageListView(page=1)}">1 <span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{messageListView(page=2)}">2</a></li>
                    <li><a th:href="@{messageListView(page=3)}">3</a></li>
                    <li><a th:href="@{messageListView(page=4)}">4</a></li>
                    <li><a th:href="@{messageListView(page=5)}">5</a></li>
                    <li><a th:href="@{messageListView(page=${currentPage+1})}">下一页</a></li>
                  </ul>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript">
  function select() {
    var start=$("#id1").val();
    var end=$("#id2").val();
    var b=String(end);
    location.href="selectTime?start="+start+"&end="+end;

  }
  function send(id) {
    var name=$("#name1").val();
    if(confirm("您确定要发送么?")!=true){
      return false;
    }
    location.href="sendMessage?id="+id+"&name="+name;

  }
  function del(){
    var id=$("#del").text();
     if(confirm("您确定要删除么?")!=true){
       return false
     }
     location.href="deleteMessageView?id="+id;
  }
  $(function () {
    $(".list-group-item").click(function(){
      // jquery对象的回调方法中的this关键字为DOM对象
      // $(DOM) ==> JQuery
      if ( $(this).find("ul") ) { // 3 li
        $(this).toggleClass("tree-closed");
        if ( $(this).hasClass("tree-closed") ) {
          $("ul", this).hide("fast");
        } else {
          $("ul", this).show("fast");
        }
      }
    });
  });
</script>
</body>
</html>
