<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="css/css.css" rel="stylesheet">
    <link href="css/chosen.css" rel="stylesheet">
    <link href="favicon.ico" rel="SHORTCUT ICON">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/docs.min.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jqpublic.js"></script>
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        #imgdiv{
            width: 300px;
            height: 200px;
        }
        #phone{
            width: 300px;
        }
        #check{
            width: 200px;
        }
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="main">首页</a></li>
                <li><a href="addarticle">咨询管理</a></li>
                <li><a href="#">草稿箱</a></li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">< 新增资讯<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                <div class="panel-body">
                        <table class="form-group">
                            <th>资讯标题：</th>
                            <td th:text="${art.title}">
                            </td>
                        </table>
                        <table class="form-group">
                            <th>资讯来源：</th>
                            <td th:text="${art.source}">
                            </td>
                        </table>
                        <table class="form-group">
                            <th>资讯描述：</th>
                            <td th:text="${art.summary}">
                            </td>
                        </table>
                        <div class="form-group">
                            <label>图片:</label><br>
                            <img id="imgdiv" th:src="${art.coverPic}" alt="未上传图片">
                        </div>
                        <table class="form-group">
                            <th>作者：</th>
                            <td th:text="${art.author}">
                            </td>
                        </table>
                        <div class="form-group">
                            <label >正文:</label><br>
                            <td th:text="${art.content}"  style="width:800px; height:200px;">
							</td>
                        </div>
                        <a type="button" id="submit" class="btn btn-success" th:href="@{tGshArticle(id=${art.id})}">通过</a>
                        <a type="button" class="btn btn-danger" th:href="@{bHshArticle(id=${art.id})}">驳回</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $(".list-group-item").click(function(){
            // jquery对象的回调方法中的this关键字为DOM对象
            // $(DOM) ==> JQuery
            if ( $(this).find("ul") ) { // 3 li
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
</script>
</body>
</html>
