<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        /*#tb1{*/
        /*    size: 400px;*/
        /*}*/
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row"><p style="font-size: 40px">标签定义页面:</p></div>
            <div class="row"><font color="#ff7f50" style="font-size: 30px">汽车情报站标签</font> </div>
            <div class="row" >
                <table id="tb1" class="table table-bordered">
                    <tr>
                        <td>序号</td>
                        <td>标签名称</td>
                        <td>热度</td>
                        <td>操作</td>
                    </tr>
                    <tbody>
                        <tr class="success" th:each="tag:${qbz}">
                            <td th:text="${tag.id}"></td>
                            <td th:text="${tag.name}"></td>
                            <td th:text="${tag.clickCount}"></td>
                            <td><a th:href="@{updateTag(tagid=${tag.id})}"><button class="btn btn-info">变更</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-9"><font color="#ff7f50" style="font-size: 30px">完善资料标签</font></div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <td>序号</td>
                        <td>标签名称</td>
                        <td>操作</td>
                    </tr>
                    <tbody>
                        <tr class="warning" th:each="tag:${sy}">
                            <td th:text="${tag.id}"></td>
                            <td th:text="${tag.name}"></td>
                            <td><a th:href="@{updateTag(tagid=${tag.id})}"><button class="btn btn-info">操作</button></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function(){
            // jquery对象的回调方法中的this关键字为DOM对象
            // $(DOM) ==> JQuery
            if ( $(this).find("ul") ) { // 3 li
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });

    });
    function  getD1(){
        var date=new Date();
        var d1=date.toLocaleString();
        var div1=document.getElementById("times");
        // alert(div1.val)
        div1.innerHTML =d1;

    }
    setInterval("getD1();",1000);
    //    以上是当前时间
</script>
</body>
</html>
