<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">伴我汽车 - 控制面板</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user" th:text="${session.user.username}"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="查询">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed">
                        <a href="main"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 会员 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="findAllMemberPro"><i class="glyphicon glyphicon-check"></i> 会员管理</a>
                            </li>

                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 资讯管理 <span class="badge"
                                                                                style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="article"><i class="glyphicon glyphicon-check"></i> 草稿箱</a>
                            </li>
                            <li style="height:30px;">
                                <a href="article_sh"><i class="glyphicon glyphicon-check"></i> 咨询审核</a>
                            </li>
                            <li style="height:30px;">
                                <a href="article_fb"><i class="glyphicon glyphicon-check"></i> 咨询发布</a>
                            </li>
                            <li style="height:30px;">
                                <a href="article_fb"><i class="glyphicon glyphicon-check"></i> 咨询列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="liuchengtu"><i class="glyphicon glyphicon-check"></i> 流程图</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 标签定义 <span class="badge"
                                                                                style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="addHotel"><i class="glyphicon glyphicon-check"></i> 标签定义</a>
                            </li>

                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i> 车型库管理 <span class="badge"
                                                                                 style="float:right">3</span></span>
                        <ul style="margin-top:10px;">
                            <li style="height:30px;">
                                <a href="findCarBrand"><i class="glyphicon glyphicon-check"></i> 品牌管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="findManufacturer"><i class="glyphicon glyphicon-check"></i> 厂商管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="findCarModel"><i class="glyphicon glyphicon-check"></i> 车系管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="findCar"><i class="glyphicon glyphicon-check"></i> 车款管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="findParamType"><i class="glyphicon glyphicon-check"></i> 参数分类管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="findParam"><i class="glyphicon glyphicon-check"></i> 参数管理</a>
                            </li>

                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon glyphicon-tasks"></i> 自有商品管理 <span class="badge" style="float:right">1</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="/zyspgl"><i class="glyphicon glyphicon-user"></i>自有商品管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 活动管理 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 活动列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 推荐活动</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 类型管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 渠道管理</a>
                            </li>

                        </ul>
                    </li>
                    <!--                    消息管理-->
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 消息管理 <span class="badge" style="float:right">2 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="messageListView"><i class="glyphicon glyphicon-check"></i> 消息列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addMessageView"><i class="glyphicon glyphicon-check"></i> 新增消息</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 角色管理 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="shows"><i class="glyphicon glyphicon-check"></i> 角色管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 管理员列表 <span class="badge"
                                                                                       style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="admin"><i class="glyphicon glyphicon-check"></i> 管理员列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="admin1"><i class="glyphicon glyphicon-check"></i> 新增管理员</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 操作日志 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 操作日志</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 个人中心 <span class="badge" style="float:right">1 </span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="htPersonalCenter"><i class="glyphicon glyphicon-check"></i> 个人中心</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active">修改</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">修改消息<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="/updateMessageRes">
                        <div class="form-group">
                            <input type="hidden" name="id" th:value="${message.id}">
                            <label for="title" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input name="title" type="text" th:value="${message.title}" class="form-control" id="title" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">正文</label>
                            <div class="col-sm-10">
<!--                                <textarea name="content" th:value="${message.content}" class="form-control" rows="3" id="content"></textarea>-->
                                <input name="content" type="text" th:value="${message.content}" class="form-control"  id="content" >
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="reset" class="btn btn-danger">取消</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-success">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题1</h4>
                    <p>好消息,好消息,大家快来看!</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题2</h4>
                    <p>最新通知,有钱的买车,没钱的试车!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function(){
            // jquery对象的回调方法中的this关键字为DOM对象
            // $(DOM) ==> JQuery
            if ( $(this).find("ul") ) { // 3 li
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
</script>
</body>
</html>
