<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="css/css.css" rel="stylesheet">
    <link href="css/chosen.css" rel="stylesheet">
    <link href="favicon.ico" rel="SHORTCUT ICON">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="script/docs.min.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jqpublic.js"></script>
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }
        #imgdiv{
            width: 300px;
            height: 200px;
        }
        #phone{
            width: 300px;
        }
        #check{
            width: 200px;
        }
    </style>
</head>

<body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="main">首页</a></li>
                <li><a href="addarticle">咨询管理</a></li>
                <li><a href="#">草稿箱</a></li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">< 新增资讯<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                <div class="panel-body">
                    <form action="upResArticle" method="post">
                        <input type="hidden" name="id" id="userId" th:value="${a.id}">
                    <table class="form-group">
                        <th>资讯标题：</th>
                        <td><input type="text" class="form-control" id="articleTitle" name="title" th:value="${a.title}">
                        </td>
                    </table>
                    <div class="form-group has-success has-feedback">
                        资讯来源<select class="form-control" id="check" name="source" th:value="${a.source}">
                        <option value="汽车之家">汽车之家</option>
                        <option value="易车">易车</option>
                        <option value="太平洋汽车">太平洋汽车</option>
                        <option value="瓜子二手车">瓜子二手车</option>
                        <option value="原创">原创</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="artMs">咨询描述</label>
                        <input type="text" class="form-control" id="artMs" name="summary" th:value="${a.summary}">
                    </div>
                        <div>
                            <span>修改图片：</span><br>
                            <img style="height: 250px;width: 400px"  id="preview" th:src="${a.coverPic}" alt="未上传图片"/>
                            <br/>
                            <input type="file" name="coverPic" onchange="imgPreview(this)" />
                        </div>
                    <table class="form-group">
                        <th>作者：</th>
                        <td><input type="text" class="form-control" name="author" id="aAuthor" th:value="${a.author}">
                        </td>
                    </table>
                    <div class="form-group">
                        <label >正文</label><br>
                        <textarea type="text"  id="aText" name="content" th:utext="${a.content}"  style="width:800px; height:200px;">
							</textarea>
                    </div>
                    <button type="submit" id="submit" class="btn btn-success">提交</button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i>重置</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function imgPreview(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("preview");
            //图片路径设置为读取的图片
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
</script>

<script type="text/javascript">

    $(function () {
        $(".list-group-item").click(function(){
            // jquery对象的回调方法中的this关键字为DOM对象
            // $(DOM) ==> JQuery
            if ( $(this).find("ul") ) { // 3 li
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
</script>
</body>
</html>
