<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	.tree-closed {
	    height : 40px;
	}
	.tree-expanded {
	    height : auto;
	}
	</style>
  </head>

  <body>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
			  </div>
			  <div class="panel-body">
<form class="form-inline" role="form" style="float:left;">
  <div class="form-group has-feedback">
    <div class="input-group">
      <div class="input-group-addon">查询条件</div>
      <input class="form-control has-success" type="text" placeholder="请输入查询条件">
    </div>
  </div>
  <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
</form>
<button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='/addproduct'"><i class="glyphicon glyphicon-plus"></i> 新增</button>
<br>
 <hr style="clear:both;">
          <div class="table-responsive">
            <table class="table  table-bordered">
              <thead>
                <tr>
                  <td>序号</td>
                  <td>标题</td>
                  <td>关联活动</td>
                  <td>关联车型</td>
                  <td>状态</td>
                  <td width="120">操作</td>
                </tr>
              </thead>
			  <tbody>
			  <tr th:each="fap:${findallproduct}">
<!--属性赋值th:each=""-->
				  <td th:text="${fap.id}"></td>
				  <td th:text="${fap.name}"></td>
				  <td th:text="${fap.description}"></td>
				  <td th:text="${fap.service}"></td>
				  <td><div id="b1">未发布</div></td>
				  <td>
				  <a th:href="@{ci(id=${fap.id})}" ><button type="button" class="btn btn-warning btn-xs"><i class=" glyphicon glyphicon-eye-open"></i></button></a>
				  <button type="button" class="btn btn-success btn-xs" id="n1"><i class=" glyphicon glyphicon glyphicon-ok"></i></button>
				  <a th:href="@{dp(id=${fap.id})}"><button id="btns" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></button></a>
<!--				  <button type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>-->
				  </td>
<!--				  <td th:href="@"-->
			  </tr>
			  </tbody>
				<tfoot>
				<tr >
					<td colspan="12" align="center">
						<ul class="pagination">
							<li class="disabled"><a th:href="@{zyspgl(page=${currentPage-1})}">上一页</a></li>
							<li class="active"><a th:href="@{zyspgl(page=1)}">1 <span class="sr-only">(current)</span></a></li>
							<li><a th:href="@{zyspgl(page=2)}">2</a></li>
							<li><a th:href="@{zyspgl(page=3)}">3</a></li>
							<li><a th:href="@{zyspgl(page=4)}">4</a></li>
							<li><a th:href="@{zyspgl(page=5)}">5</a></li>
							<li><a th:href="@{zyspgl(page=${currentPage+1})}">下一页</a></li>
						</ul>
					</td>
				</tr>

				</tfoot>
            </table>

          </div>
			  </div>
			</div>

        </div>
      </div>
    </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
        <script type="text/javascript">
            $(function () {
			    $(".list-group-item").click(function(){
                    // jquery对象的回调方法中的this关键字为DOM对象
                    // $(DOM) ==> JQuery
				    if ( $(this).find("ul") ) { // 3 li
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
            });
            $(function () {
				$("#n1").bind("click",function () {
					$("#b1").toggle(function () {
						$(this).text("已发布");


					})
				})
			})
            // $("tbody .btn-primary").click(function(){
            //     window.location.href = "productxg";
            // });
            // $("tbody .btn-warning").click(function(){
			// 	window.location.href = "productyl"
			// })

        </script>
  </body>
</html>
